<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Rep Counter</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="container">

        <h1>Gym Rep Counter</h1>
        <h2>Exercise Rep Counter</h2>
        <div id="count">0</div>
        <button id="increment">➕ Rep</button>
        <button id="decrement">➖ Undo</button>
        <button id="reset">🔄 Reset</button>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>
