/Practical5/node_modules
/Practical3/node_modules
/Practical6/node_modules
/Practical7/node_modules
/Practical4/node_modules
/Practical8/node_modules
/Practical9/node_modules
/Practical10/node_modules
/Practical11/node_modules
/Practical12/node_modules
